* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  font-family: Lato, sans-serif;
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:root {
  --menu-clr: #4d4959;
  --menu-white: #fff;
  --layout-1: 1;
  --layout-2: 5;
  --layout-3: 10;
  --layout-4: 20;
}

body._active {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__icon {
  display: none;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list li {
  padding: 0 35px;
  position: relative;
}
.menu__list li::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 2px;
  height: 2px;
  background-color: var(--menu-clr);
  border-radius: 50%;
}
.menu__list li:nth-child(2) {
  padding: 0 110px 0 35px;
}
.menu__list li:nth-child(3) {
  padding: 0 35px 0 110px;
}
.menu__list li:last-child:before, .menu__list li:nth-child(2):before {
  display: none;
}
.menu__link {
  font-weight: 700;
  font-size: 0.8125rem;
  letter-spacing: 0.2em;
  color: var(--menu-clr);
  text-transform: uppercase;
}
@media (max-width: 48em) {
  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--menu-clr);
    padding: 150px 0 20% 0;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    top: 0;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list li {
    padding: 0 0 35px 0;
    position: relative;
  }
  .menu__list li::before {
    bottom: -50%;
    right: 50%;
    width: 4px;
    height: 4px;
    background-color: var(--menu-white);
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
  .menu__list li:nth-child(2) {
    padding: 0 0 35px 0;
  }
  .menu__list li:nth-child(3) {
    padding: 0 0 35px 0;
  }
  .menu__list li:nth-child(2):before {
    display: block;
  }
  .menu__link {
    color: var(--menu-white);
    font-size: 1.25rem;
  }
  .menu__icon {
    display: block;
  }
}

.icon-menu {
  position: relative;
  z-index: var(--layout-2);
  width: 40px;
  height: 35px;
  cursor: pointer;
}
.icon-menu span, .icon-menu::after, .icon-menu::before {
  position: absolute;
  width: 100%;
  display: block;
  height: 15%;
  background: #64c29e;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.icon-menu::after, .icon-menu::before {
  content: "";
}
.icon-menu::after {
  top: 0;
}
.icon-menu::before {
  bottom: 0;
}
.icon-menu span {
  top: 50%;
  -webkit-transform: scale(1) translate(0, -50%);
          transform: scale(1) translate(0, -50%);
}
.icon-menu._active span {
  -webkit-transform: scale(0) translate(0, -50%);
          transform: scale(0) translate(0, -50%);
}
.icon-menu._active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(1px, -50%);
          transform: rotate(-45deg) translate(1px, -50%);
}
.icon-menu._active::before {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(2px, 50%);
          transform: rotate(45deg) translate(2px, 50%);
}

.header {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  z-index: var(--layout-2);
}
.header__row {
  padding: 0 15px;
  min-height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 48em) {
  .header__row {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.header__logo {
  position: absolute;
  z-index: var(--layout-2);
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: var(--layout-2);
}

.full-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}
.full-screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.generation {
  background-color: #f7f7f7;
  padding: 117px 0 130px 0;
}
@media (max-width: 48em) {
  .generation {
    padding: 50px 0;
  }
}

.block-text {
  text-align: center;
  font-size: 1.125rem;
  position: relative;
}
.block-text__icon {
  margin: 0 0 2.25em 0;
}
.block-text__title {
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #353738;
  margin: 0 0 1.12em 0;
}
.block-text__text {
  line-height: 2;
  color: #848789;
}
.block-text__text_justify {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.875;
}
.block-text__text_justify::after {
  content: "";
  display: block;
  background-color: #d7d7d7;
  height: 1px;
  width: 50px;
  margin: 35px auto 0 auto;
}
.block-text_arrow-down::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 99%);
          transform: translate(-50%, 99%);
  border-top: 13px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  z-index: var(--layout-2);
}
@media (max-width: 48em) {
  .block-text {
    font-size: 1rem;
  }
}

.company_reverse .company__column {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.company_reverse .company__column_big {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.company__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.company__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}
.company__column_big {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.667%;
          flex: 1 1 66.667%;
}
.company__block-text {
  padding: 70px 63px 30px;
}
.company__image {
  padding: 37.5% 0 0 0;
}
@media screen and (max-width: 71.875em) {
  .company__block-text {
    padding: 20px;
  }
  .company_first-text .company__row > .company__column:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media screen and (max-width: 62em) {
  .company__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.item-company {
  display: block;
  height: 100%;
  position: relative;
}
.item-company__icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--layout-2);
  background-color: rgba(112, 175, 148, 0.6);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  visibility: hidden;
}
.item-company:hover .item-company__icon {
  opacity: 1;
  visibility: visible;
}
.item-company__icon span {
  font-size: 0.875rem;
  letter-spacing: 0.14em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin: 0.71em 0 0 0;
}
.item-company__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--layout-1);
}
@media screen and (max-width: 62em) {
  .item-company {
    height: auto;
    padding: 60% 0 0 0;
  }
}

.slider {
  padding: 110px 0 60px 0;
  background-color: #f7f7f7;
}
.slider__item {
  text-align: center;
}
.slider__icon {
  margin: 0 0 1.25em 0;
}
.slider__label {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 0.6;
  color: #353738;
  margin: 0 0 1.5625em 0;
}
.slider__label span {
  font-weight: 300;
}
.slider__text {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.3;
  color: #848789;
}
@media (max-width: 48em) {
  .slider {
    padding: 30px 0;
  }
  .slider__text {
    font-size: 1rem;
  }
}

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
}
.shop__column_big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.shop__footer {
  background-color: #282f35;
  text-align: center;
  padding: 74px 0;
}
.shop__btn {
  display: inline-block;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.14em;
  border: 1px solid #fff;
  height: 3.57em;
  line-height: 3.35;
  padding: 0 60px;
  text-transform: uppercase;
}
@media screen and (max-width: 62em) {
  .shop__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .shop__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .shop__column_big {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .shop__btn {
    padding: 0 20px;
  }
}

.block-shop {
  height: 100%;
}
.block-shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block-shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.block-shop__item {
  height: auto;
  padding: 0 0 53.1%;
}
.block-shop__item_big {
  padding: 0 0 212.4% 0;
}
.block-shop__item_little {
  padding: 0 0 106.2% 0;
}

.feedback {
  padding: 100px 0;
}
.feedback__body {
  max-width: 534px;
  margin: 0 auto;
  text-align: center;
}
.feedback__icon {
  margin: 0 0 1.5625em 0;
}
.feedback__text {
  font-size: 1.5rem;
  line-height: 1.2;
  font-style: italic;
  color: #848789;
  margin: 0 0 1.45em 0;
}
.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.feedback__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.feedback__input input {
  width: 100%;
  height: 69px;
  border: 1px solid #d3d7d9;
  font-size: 1.25rem;
  line-height: 1.2;
  font-style: italic;
  min-height: 69px;
  padding: 0 25px;
}
.feedback__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 126px;
          flex: 0 0 126px;
}
.feedback__btn {
  width: 100%;
  height: 69px;
  text-transform: uppercase;
  background-color: #64c29e;
  font-size: 1.5rem;
  line-height: 69px;
  font-weight: 300;
  color: #fff;
}
@media screen and (max-width: 48em) {
  .feedback {
    padding: 20px;
  }
}
@media screen and (max-width: 32.5em) {
  .feedback__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 69px;
            flex: 0 0 69px;
  }
}

.footer {
  padding: 100px 0;
  background-color: #f7f7f7;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.footer__address {
  color: #848789;
  font-size: 0.875rem;
  line-height: 1.3;
  font-style: italic;
}
.footer__address p:first-child {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
}
@media screen and (max-width: 68.75em) {
  .footer {
    padding: 35px 0;
  }
}
@media screen and (max-width: 62em) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 15px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.developer__text {
  color: #848789;
  font-size: 0.875rem;
  line-height: 1.3;
  font-style: italic;
}